<mat-toolbar>

  <button mat-icon-button *ngIf="sidenav.mode === 'over'" (click)="sidenav.toggle()">
    <mat-icon *ngIf="!sidenav.opened">
      menu
    </mat-icon>

    <mat-icon *ngIf="sidenav.opened">
      close
    </mat-icon>

  </button>
  Gráficos
</mat-toolbar>

<mat-sidenav-container>

  <mat-sidenav #sidenav>

    <mat-accordion>

      <mat-expansion-panel expanded="true" (opened)="panelOpenState = true" (closed)="panelOpenState = false">
        <mat-expansion-panel-header>
          <mat-panel-title>
            Chart JS
          </mat-panel-title>
        </mat-expansion-panel-header>
        <mat-divider></mat-divider>
        <div style="display: flex; flex-direction: column; gap: 0.5rem;">
          <button mat-button color="primary" class="menu-button" routerLink="/chart-js/line-chart">
            Line chart
          </button>
          <button mat-button color="primary" class="menu-button" routerLink="/chart-js/bar-chart">
            Bar Chart
          </button>
          <button mat-button color="primary" class="menu-button" routerLink="/chart-js/pie-chart">
            Pie Chart
          </button>
        </div>

      </mat-expansion-panel>

      <mat-expansion-panel expanded="true" (opened)="panelOpenState = true" (closed)="panelOpenState = false">
        <mat-expansion-panel-header>
          <mat-panel-title>
            Apache Echarts
          </mat-panel-title>
        </mat-expansion-panel-header>
        <mat-divider></mat-divider>
        <div style="display: flex; flex-direction: column; gap: 0.5rem;">
          <button mat-button color="primary" class="menu-button" routerLink="/apache-echarts/line-chart">
            Line chart
          </button>
          <button mat-button color="primary" class="menu-button" routerLink="/apache-echarts/bar-chart">
            Bar Chart
          </button>
          <button mat-button color="primary" class="menu-button" routerLink="/apache-echarts/pie-chart">
            Pie Chart
          </button>
          <button mat-button color="primary" class="menu-button" routerLink="/apache-echarts/nested-pies">
            Nested Pie Chart
          </button>
        </div>
      </mat-expansion-panel>

      <mat-expansion-panel expanded="true" (opened)="panelOpenState = true" (closed)="panelOpenState = false">
        <mat-expansion-panel-header>
          <mat-panel-title>
            ApexCharts
          </mat-panel-title>
        </mat-expansion-panel-header>
        <mat-divider></mat-divider>
        <div style="display: flex; flex-direction: column; gap: 0.5rem;">
          <button mat-button color="primary" class="menu-button" routerLink="/apex-charts/line-chart">
            Line chart
          </button>
          <button mat-button color="primary" class="menu-button" routerLink="/apex-charts/bar-chart">
            Bar Chart
          </button>
          <button mat-button color="primary" class="menu-button" routerLink="/apex-charts/column-chart">
            Column Chart
          </button>
          <button mat-button color="primary" class="menu-button" routerLink="/apex-charts/column-data-labels-chart">
            Column Chary With Data Labels
          </button>
          <button mat-button color="primary" class="menu-button" routerLink="/apex-charts/pie-chart">
            Pie Chart
          </button>
          <button mat-button color="primary" class="menu-button" routerLink="/apex-charts/multiple-y-axis-chart">
            Múltiple Y-Axis
          </button>

        </div>
      </mat-expansion-panel>

      <!-- Highcharts -->
      <mat-expansion-panel expanded="true" (opened)="panelOpenState = true" (closed)="panelOpenState = false">
        <mat-expansion-panel-header>
          <mat-panel-title>
            Highcharts
          </mat-panel-title>

        </mat-expansion-panel-header>
        <mat-divider></mat-divider>
        <div style="display: flex; flex-direction: column; gap: 0.5rem;">
          <button mat-button color="primary" class="menu-button" routerLink="/high-charts/line-chart">
            Line chart
          </button>
          <button mat-button color="primary" class="menu-button" routerLink="/high-charts/bar-chart">
            Bar Chart
          </button>
          <!-- <button mat-button color="primary" class="menu-button" routerLink="/apex-charts/column-chart">
            Column Chart
          </button>
          <button mat-button color="primary" class="menu-button" routerLink="/apex-charts/column-data-labels-chart">
            Column Chary With Data Labels
          </button>
          <button mat-button color="primary" class="menu-button" routerLink="/apex-charts/pie-chart">
            Pie Chart
          </button>
          <button mat-button color="primary" class="menu-button" routerLink="/apex-charts/multiple-y-axis-chart">
            Múltiple Y-Axis
          </button> -->

        </div>
      </mat-expansion-panel>


      

    </mat-accordion>

    <!-- <button mat-icon-button class="menu-button" routerLink="/chart-js/bar-chart">
      <mat-icon>home</mat-icon>
      <span>Home</span>
    </button>

    <button mat-icon-button class="menu-button">
      <mat-icon>person</mat-icon>
      <span>Profile</span>
    </button> -->

  </mat-sidenav>

  <mat-sidenav-content>
    <div class="content mat-elevation-z4">
      <router-outlet></router-outlet>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>